version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: desafio-db
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: desafio_hubfy
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 10

  adminer:
    image: adminer
    container_name: desafio-adminer
    ports:
      - '8080:8080'
    depends_on:
      - db

volumes:
  db_data:
